* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.icon {
  font-size: 35px;
}

.offcanvas {
  width: 50vh;
}

.menu-item {
  color: #fff !important;
}

.top-button{
  color: black;
  text-decoration: none;
  width: 8%;
}

.section {
  height: 94vh;
  margin-top: 30%;
}

#about {
  margin-top: 15%
} 
 
#skills {
  margin-top: 15%;
}

#services {
  margin-top: 20%;
}

#projects {
  margin-top: 15%;
}

.contact {
  margin-top: 15%;
}  

.placeholder {
  background-color: gray;
  height: 200px;
  width: 100%;
}

#projects-section {
  margin-top: 32%;
}

