* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.icon {
  font-size: 35px;
}

.offcanvas {
  width: 50vh;
}

.section {
  height: 94vh;
  margin-top: 15%;
}

#home-row {
  margin-top: 30%;
}

#projects-section {
  margin-top: 70px;
}

#contact {
  margin-top: 20px;
}

.project-img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  #home-row {
    margin-top: 5%;
  }
  .section {
    height: 100vh;
    margin-top: 12%;
  }
  #projects-section {
    margin-top: 10%;
  }
}

@media screen and (min-width: 992px) {
  .section {
    margin-top: 8%;
    height: 70vh;
  }
}

@media screen and (min-width: 1200px){
  .section {
    height: 100vh;
  }
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; 
    bottom: 0;
    right: 100%;
    width: 80%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: rgba(52, 58, 64, 0.9);
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(99%);
  }
  .offcanvas-collapse.close {
    visibility: hidden;
    transform: translateX(-99%);
  }
  .project-img {
    height: 100%;
  }
} 



